.blogDetailText{
    text-align: center;
    /*border-left: 2px solid white;
    border-right: 2px solid white;*/
}


.detailTitle{        
    color:#ff9900;
}

/* .detailContent{
    animation-duration: 1s;
    animation-delay: .4s;
} */

.blogDetailsRow{
    animation-duration: .5s;
}

