
<div>
 
  <div *ngIf="this.isLoaded" class="loaderContainer" id="loaderContainer">
    <div class="loader"></div> 
    <div class="loaderInner"></div>
    <div class="loaderInnerSmall"></div>
</div>

  <div class="row blogDetailsRow animated" *ngIf="!this.isLoaded">

      <div class="col-lg-6">
          <div class="row">
            <div class="col title-center">
              <h2 class="detailTitle animated fadeInDown">{{post.title}}</h2>
            </div>
          </div>
    
          <div class="row">
            <div class="col blogDetailContent  animated fadeInLeft">
              <h3>{{post.content}} </h3>
              <div class="starDiv">
                  <span class="starDivTitle">
                      Oceń:
                  </span>
                  <div class="stars">
                      <i class="fas fa-star rateStar" id="rateStar5"></i>
                      <i class="fas fa-star rateStar" id="rateStar4"></i>
                      <i class="fas fa-star rateStar" id="rateStar3"></i>
                      <i class="fas fa-star rateStar" id="rateStar2"></i>
                      <i class="fas fa-star rateStar" id="rateStar1"></i>
                  </div>
              </div>
            </div>
          </div>
        </div> 
    <div class="col-lg-6">
      <img class="blogDetailsImg animated fadeInRight" src={{post.url}} />
    </div>

   
   
  </div>

  
  <div class="row editPostRow animated invisible">
      <div class="col">
         <div class="editOverlay">
             <app-new-post  ></app-new-post>
         </div>
      </div>
    </div>

</div>