<div class="row">
    <div class="col-md-9">
        <p class="homeText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione id iure mollitia magni laudantium,
            sed sequi doloremque magnam voluptate tempore, optio a. Corrupti eius pariatur eos vitae vel cum
            debitis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione id iure mollitia magni
            laudantium,
            sed sequi doloremque magnam voluptate tempore, optio a. Corrupti eius pariatur eos vitae vel cum
            debitis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione id iure mollitia magni
            laudantium,
            sed sequi doloremque magnam voluptate tempore, optio a. Corrupti eius pariatur eos vitae vel cum
            debitis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione id iure mollitia magni
            laudantium,
            sed sequi doloremque magnam voluptate tempore, optio a. Corrupti eius pariatur eos vitae vel cum
            debitis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione id iure mollitia magni
            laudantium,
            sed sequi doloremque magnam voluptate tempore, optio a. Corrupti eius pariatur eos vitae vel cum
            debitis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione id iure mollitia magni
            laudantium,
            sed sequi doloremque magnam voluptate tempore, optio a. Corrupti eius pariatur eos vitae vel cum
            debitis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione id iure mollitia magni
            laudantium,
            sed sequi doloremque magnam voluptate tempore, optio a. Corrupti eius pariatur eos vitae vel cum
            debitis.</p>

    </div>
</div>
