<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Strona główna</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav mainMenu">
              <li> <a routerLink="/blog" routerLinkActive="active">Blog</a></li>
              <li> <a routerLink="/quiz" routerLinkActive="active">Quiz</a></li>
              <li> <a routerLink="/contact" routerLinkActive="active">Kontakt</a></li>
              
              <li *ngIf="!this.isLoggedIn()" class="float-left"> <a routerLink="/login" routerLinkActive="active">Zaloguj się</a></li>
              <li *ngIf="!this.isLoggedIn()" class="float-left"> <a routerLink="/register" routerLinkActive="active">Zarejestruj się</a></li>

              <button *ngIf="this.isLoggedIn()" (click)="logOut()" class="dropdown-item">Wyloguj</button>

          </ul>
      </div>
  </div>
</nav>